.popular-card{
  width: 100%;
  height: 95%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: $dark-accent;
  display: grid;
  grid-template-areas: 
    'title . '
    'poster    . '
    'poster indexer'
    'poster details'
  ;
  grid-template-rows: 6rem 1fr 1fr 106px;
  grid-template-columns: 16rem 1fr;
  // position: relative;

  .title{
    grid-area: title;
    padding:  0.5rem 1rem;
    align-self: start;
    justify-self: start;
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: $dark-shade;
    background: $light-shade;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
                  0 4px 25px 0px rgb(0 0 0 / 12%), 
                  0 8px 10px -5px rgb(0 0 0 / 20%);
  }
  
  .poster-container{
    grid-area: poster;
    align-self: end;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    img{
      // margin-left: 2rem;
      // margin-bottom: 2rem;
      // align-self: end;
  
      width: 90%;
      border-radius: 5px;
      z-index: 1;
      box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
                    0 4px 25px 0px rgb(0 0 0 / 12%), 
                    0 8px 10px -5px rgb(0 0 0 / 20%);
    }
  }

  .indexer{
    font-size: 0.9rem;
    grid-area: indexer;
    align-self: end;
    justify-self: center;
    margin: 1rem 0;
    color: $light-shade;
  }

  .movie-title{
    align-self: center;
    font-size: 2.5rem;
    margin-left: 2rem;
    padding: 1rem;
    grid-area: details;
    line-height: 1;
    color: $light-shade;
  }
}