
.showcase:before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  background: inherit;
  left: -100vw;
  right: -100vw;
}

.showcase{
  background-color: $dark-color2;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 0rem;
  color: $light-shade;
  grid-area: showcase;

  .title{
    font-size: 3rem;
    line-height: 1.6;
  }

  p{
    opacity: 70%;
    line-height: 1.6;
    max-width: 1200px;
  }

  button{
    margin-top: 2rem;
    padding: 0.75rem 1rem;
    background-color: $light-shade;
    color: $dark-shade;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.3s; 
    filter: brightness(80%);
  }

  button:hover{
    cursor: pointer;
    filter: brightness(120%);
  }
}