.home-page{
  display: grid;
  max-width: 1500px;
  padding: 0 4rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  grid-template-areas: 
    'showcase showcase showcase'
    'popular popular upcoming'
    'movie movie movie'
    'footer footer footer';
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 21.5rem 43rem 1fr 5rem;
  row-gap: 3rem;
  column-gap: 2rem;

  .popular-card{
    grid-area: popular;
  }

  .upcoming-card{
    grid-area: upcoming;
  }
  
  // div:nth-of-type(4){
  //   background: steelblue;
  //   color: white;
  //   grid-area: movie;
  //   border: skyblue 1px solid;
  // }
  // div:nth-of-type(5){
  //   background: steelblue;
  //   color: white;
  //   grid-area: footer;
  //   border: skyblue 1px solid;
  // }
}



