@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.auth-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page {
  display: grid;
  max-width: 1500px;
  padding: 0 4rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  grid-template-areas: "showcase showcase showcase" "popular popular upcoming" "movie movie movie" "footer footer footer";
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 21.5rem 43rem 1fr 5rem;
  row-gap: 3rem;
  column-gap: 2rem;
}
.home-page .popular-card {
  grid-area: popular;
}
.home-page .upcoming-card {
  grid-area: upcoming;
}

.search-page {
  display: grid;
  max-width: 1500px;
  padding: 0 4rem;
  width: 100%;
  height: 100%;
  position: relative;
  grid-template-areas: "search search search" "db db db" "api api api" "footer footer footer";
}

.card {
  background-color: #ECEDEB;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 3px;
}

.login {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2.5rem;
}
.login .login-title {
  font-size: 2rem;
  color: #405563;
  align-self: flex-start;
  margin-left: 0.75rem;
}
.login .input-container {
  position: relative;
  align-self: center;
}
.login .input-container input {
  background-color: #ECEDEB;
  color: #405563;
  margin-top: 6px;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  border: none;
  border-bottom: 1px solid #405563;
}
.login .input-container input:focus {
  outline: none;
}
.login .input-container .floating-label {
  color: #405563;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.login .input-container input:focus ~ .floating-label,
.login .input-container input:not(:focus):valid ~ .floating-label {
  top: -2rem;
  bottom: 10px;
  left: 10px;
  font-size: 0.8rem;
  opacity: 1;
}
.login .input-container span {
  display: flex;
  align-items: center;
}
.login .register-msg {
  font-size: 0.9rem;
  color: #405563;
  align-self: center;
}
.login .footer {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  min-height: 3.7rem;
}
.login .footer button {
  border: none;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #405563;
  color: #ECEDEB;
  border-radius: 3px;
}
.login .footer button:hover {
  cursor: pointer;
}

.register {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2.5rem;
}
.register .register-title {
  font-size: 2rem;
  color: #405563;
  align-self: flex-start;
  margin-left: 0.75rem;
}
.register .input-container {
  position: relative;
  align-self: center;
}
.register .input-container input {
  background-color: #ECEDEB;
  color: #405563;
  margin-top: 6px;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  border: none;
  border-bottom: 1px solid #405563;
}
.register .input-container input:focus {
  outline: none;
}
.register .input-container .floating-label {
  color: #405563;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.register .input-container input:focus ~ .floating-label,
.register .input-container input:not(:focus):valid ~ .floating-label {
  top: -2rem;
  bottom: 10px;
  left: 10px;
  font-size: 0.8rem;
  opacity: 1;
}
.register .input-container span {
  display: flex;
  align-items: center;
}
.register .login-msg {
  font-size: 0.9rem;
  color: #405563;
  align-self: center;
}
.register .footer {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  min-height: 3.7rem;
}
.register .footer button {
  border: none;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #405563;
  color: #ECEDEB;
  border-radius: 3px;
}
.register .footer button:hover {
  cursor: pointer;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 10px solid #ECEDEB;
  /* Light grey */
  border-top: 10px solid #405563;
  /* Black */
  border-bottom: 10px solid #405563;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.navbar {
  padding: 0.5rem 4rem;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: #ECEDEB;
  background: #111111;
  position: relative;
}
.navbar .logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.25rem;
  filter: brightness(90%);
}
.navbar .logo .icon {
  font-size: 2rem;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar ul li {
  list-style-type: none;
  filter: brightness(70%);
}
.navbar ul li a {
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: #ECEDEB;
}
.navbar ul li a .icon {
  font-size: 1.1rem;
}
.navbar ul li button {
  font-family: inherit;
  border: none;
  color: #ECEDEB;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.navbar ul li button .icon {
  font-size: 1.1rem;
}
.navbar ul li button:hover {
  cursor: pointer;
}
.navbar ul li:hover {
  filter: brightness(300%);
}
.navbar ul li:last-of-type .icon {
  font-size: 1.7rem;
}

.navbar:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  background: inherit;
  left: -100vw;
  right: -100vw;
}

.showcase:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  background: inherit;
  left: -100vw;
  right: -100vw;
}

.showcase {
  background-color: #191919;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 0rem;
  color: #ECEDEB;
  grid-area: showcase;
}
.showcase .title {
  font-size: 3rem;
  line-height: 1.6;
}
.showcase p {
  opacity: 70%;
  line-height: 1.6;
  max-width: 1200px;
}
.showcase button {
  margin-top: 2rem;
  padding: 0.75rem 1rem;
  background-color: #ECEDEB;
  color: #405563;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 0.3s;
  filter: brightness(80%);
}
.showcase button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.upcoming-card {
  position: relative;
  background: #7B7D83;
  min-height: 689px;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 1rem;
  color: #ECEDEB;
}
.upcoming-card div img {
  min-height: 540px;
  min-width: 100%;
  width: 100%;
  margin-top: -3rem;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  color: #ECEDEB;
  text-align: center;
  line-height: 540px;
}
.upcoming-card div .content {
  padding: 1rem;
}
.upcoming-card div .content .header {
  font-size: 2rem;
}
.upcoming-card div .content .title {
  font-size: 1.2rem;
  line-height: 1;
  opacity: 80%;
}
.upcoming-card div .content .release-date {
  font-size: 1rem;
  opacity: 80%;
}
.upcoming-card .next-btn,
.upcoming-card .back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ECEDEB;
  color: #405563;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  z-index: 1;
  font-size: 2.5rem;
  border: none;
  outline: none;
}
.upcoming-card .next-btn {
  right: -0.5rem;
}
.upcoming-card .back-btn {
  left: -0.5rem;
}
.upcoming-card .next-btn:hover,
.upcoming-card .back-btn:hover {
  cursor: pointer;
}
.upcoming-card .spinner {
  border: 5px solid #7B7D83;
  border-top: 5px solid #ECEDEB;
}
.upcoming-card .error-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.upcoming-card .error-card .icon {
  font-size: 5rem;
}

.upcoming-card:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -3rem;
  bottom: -3rem;
  background: #ECEDEB;
  left: -100vw;
  right: -100vw;
}

.popular-card {
  width: 100%;
  height: 93%;
  background-color: #707E89;
  display: grid;
  grid-template-areas: "title title " "poster    . " "poster indexer" "poster details";
  grid-template-rows: 6rem 1fr 1fr 106px;
  grid-template-columns: 16rem 1fr;
  position: relative;
}
.popular-card .title {
  position: relative;
  z-index: 1;
  grid-area: title;
  align-self: start;
  justify-self: start;
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.popular-card .title .icon {
  display: flex;
  justify-content: center;
  align-self: center;
}
.popular-card .title .icon:hover {
  cursor: pointer;
}
.popular-card .title .options-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.popular-card .title .options-container .category {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #707E89;
  background: #ECEDEB;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.popular-card .title .options-container .option {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  color: #707E89;
  background: #ECEDEB;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.popular-card .title .options-container .option:last-of-type {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.popular-card .title .options-container .option:hover {
  cursor: default;
  background: #D3D3D3;
}
.popular-card .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.popular-card .poster {
  grid-area: poster;
  width: 90%;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  align-self: end;
  z-index: 1;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.popular-card .indexer {
  z-index: 1;
  font-size: 0.9rem;
  grid-area: indexer;
  align-self: end;
  justify-self: center;
  margin: 1rem 0;
  color: #707E89;
  transition: 0.3s;
}
.popular-card .indexer:hover {
  color: #ECEDEB;
}
.popular-card .movie-title {
  align-self: center;
  justify-self: start;
  font-size: 2.5rem;
  margin-left: 2rem;
  padding: 1rem;
  grid-area: details;
  line-height: 1;
  color: #ECEDEB;
}
.popular-card .loading-card {
  grid-column: 2;
  grid-row: 2/4;
  align-self: center;
  justify-self: start;
  margin-left: 30%;
}
.popular-card .loading-card .spinner {
  height: 4rem;
  width: 4rem;
  border: 5px solid #707E89;
  border-top: 5px solid #ECEDEB;
}
.popular-card .error-card {
  grid-column: 2;
  grid-row: 2/4;
  align-self: center;
  justify-self: start;
  width: 100%;
}
.popular-card .error-card .icon {
  font-size: 5rem;
  margin-left: 30%;
}
.popular-card .error-card .error-msg {
  margin-left: 15%;
}

.indexer {
  display: flex;
  align-items: center;
}
.indexer .indexes {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.indexer .icon {
  cursor: pointer;
}

.movies-section {
  position: relative;
  grid-area: movie;
  min-height: 20rem;
  width: 100%;
  background: #405563;
}
.movies-section .movies-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}
.movies-section .movies-header .movies-actions-container {
  display: flex;
  gap: 2rem;
}
.movies-section .movies-header .movies-title {
  font-size: 3rem;
  color: #ECEDEB;
}
.movies-section .movies-header .genre-filter {
  color: #ECEDEB;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.movies-section .movies-header .genre-filter .dropdown-placeholder {
  min-width: 150px;
}
.movies-section .movies-header .genre-filter .genre-filter-option {
  padding: 0.5rem 1rem;
}
.movies-section .movies-header .sort-options {
  color: #ECEDEB;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.movies-section .movies-header .sort-options .dropdown-placeholder {
  min-width: 176px;
}
.movies-section .movies-header .sort-options .placeholder-option {
  min-width: 176px;
}
.movies-section .movies-header .sort-options .sort-option {
  padding: 0.5rem 1rem;
}
.movies-section .movies-header .sort-options .reverse-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  padding: 0.2rem;
  border-radius: 50%;
  transition: 0.3s;
}
.movies-section .movies-header .sort-options .reverse-icon.active {
  background: #ECEDEB;
  color: #405563;
}
.movies-section .movies {
  position: relative;
  grid-area: movie;
  padding: 2rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
}
.movies-section .loading-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies-section .loading-container .spinner {
  height: 5rem;
  width: 5rem;
  border: 5px solid #405563;
  border-top: 5px solid #ECEDEB;
}
.movies-section .error-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #ECEDEB;
}
.movies-section .error-container .icon {
  font-size: 5rem;
}

.movies-section:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: -3rem;
  background: inherit;
  left: -100vw;
  right: -100vw;
}

.movie-card-sm-container {
  display: flex;
  flex-flow: column;
}

.movie-card-sm {
  background: #ECEDEB;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-flow: column nowrap;
  align-self: start;
  position: relative;
}
.movie-card-sm img {
  margin-top: -2rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.movie-card-sm .content {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.2rem;
  align-items: flex-start;
  margin-top: -0.5rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
}
.movie-card-sm .content .title {
  font-size: 1.2rem;
  color: #405563;
  line-height: 1.1;
}
.movie-card-sm .content .date {
  font-size: 0.9rem;
  opacity: 60%;
  color: #405563;
  line-height: 1.1;
}
.movie-card-sm .poster-container {
  position: relative;
}
.movie-card-sm .poster-container .rating-icon {
  bottom: -0.5rem;
  right: -0.5rem;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.rating-icon {
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  border-radius: 50%;
  background: #032541;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-icon .rating {
  color: #ECEDEB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.rating-icon .icon {
  align-self: center;
  font-size: 0.7rem;
}

.movie-card-lg {
  width: 90%;
  height: 20rem;
  justify-self: center;
  position: relative;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}
.movie-card-lg .title {
  z-index: 1;
  position: absolute;
  background: #ECEDEB;
  color: #405563;
  justify-self: start;
  align-self: start;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.2;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.movie-card-lg img {
  z-index: 0;
  position: absolute;
  grid-column: 1/4;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.movie-card-lg .rating-icon {
  grid-column: 3;
  justify-self: end;
  align-self: end;
  margin-right: 1rem;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu-container {
  position: relative;
}
.dropdown-menu-container .dropdown-placeholder {
  padding: 0.75rem 1rem;
  background: #ECEDEB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  line-height: 1;
  color: #405563;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.dropdown-menu-container .placeholder-option {
  padding: 0.75rem 1rem;
  background: #ECEDEB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  gap: 0.5rem;
  line-height: 1;
  color: #405563;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.dropdown-menu-container .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu-container .icon:hover {
  cursor: pointer;
}
.dropdown-menu-container .placeholder-option:hover {
  background: #D3D3D3;
  cursor: default;
}
.dropdown-menu-container .options {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.dropdown-menu-container .options .option {
  width: 100%;
  background: #ECEDEB;
  color: #405563;
  font-size: 1.2rem;
}
.dropdown-menu-container .options .option:hover {
  background: #D3D3D3;
  cursor: default;
}

.movie-overlay-container {
  position: relative;
  align-self: flex-end;
}
.movie-overlay-container .movie-overlay {
  left: 0;
  position: absolute;
  bottom: -3rem;
  min-width: 35rem;
  background: #ECEDEB;
  z-index: 1;
  display: flex;
  flex-flow: column;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.movie-overlay-container .movie-overlay .backdrop {
  position: relative;
  min-height: 19.5rem;
}
.movie-overlay-container .movie-overlay .backdrop img {
  position: absolute;
  width: 100%;
}
.movie-overlay-container .movie-overlay .content {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.movie-overlay-container .movie-overlay .content .genres {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
.movie-overlay-container .movie-overlay .content .genres li {
  text-align: center;
  list-style: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  line-height: 1.1;
  background: #676E77;
  color: #ECEDEB;
}
.movie-overlay-container .movie-overlay .content .overview {
  font-size: 0.9rem;
  opacity: 70%;
  color: #405563;
}
.movie-overlay-container .movie-overlay.overlay-right {
  left: 0;
}

.movie-overlay-container.overlay-right {
  align-self: flex-end;
}

.search-bar-container {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  grid-area: search;
}
.search-bar-container input {
  width: 60%;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  outline: none;
  color: #111111;
  font-family: inherit;
  transition: width 0.4s ease-in-out;
  background: rgba(236, 237, 235, 0.8);
}
.search-bar-container input::placeholder {
  color: #111111;
  font-family: inherit;
}
.search-bar-container .search-paragraph {
  color: #ECEDEB;
  opacity: 70%;
  margin-left: 0.5rem;
}
.search-bar-container input:focus,
.search-bar-container input:not(:placeholder-shown) {
  width: 100%;
  background: #ecedeb;
}

.search-bar-container:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #191919;
  left: -100vw;
  right: -100vw;
}

.searchDBMovies {
  grid-area: db;
  display: flex;
  flex-flow: column;
  padding-bottom: 4rem;
  gap: 2rem;
  width: 100%;
  background: #191919;
  min-height: 31rem;
  position: relative;
}
.searchDBMovies .current-results {
  color: #ECEDEB;
  font-size: 1.5rem;
  font-family: inherit;
  opacity: 0.9;
  margin-left: 1rem;
}
.searchDBMovies .no-results {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ECEDEB;
  font-size: 2rem;
  opacity: 0.7;
  font-family: inherit;
}

.searchDBMovies:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #191919;
  left: -100vw;
  right: -100vw;
}

.search-api-movies {
  grid-area: api;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding-top: 2rem;
  background: #191919;
  position: relative;
}
.search-api-movies .header {
  font-size: 1.5rem;
  font-family: inherit;
  margin-left: 1rem;
  color: #ECEDEB;
  opacity: 0.9;
}
.search-api-movies .movie-result-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-api-movies:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #191919;
  left: -100vw;
  right: -100vw;
}

.movie-carousel {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 22rem;
}
.movie-carousel .slides-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 22rem;
}
.movie-carousel .slides-container .slide {
  top: 0;
  cursor: pointer;
}
.movie-carousel .slides-container .slide img {
  width: 100%;
  height: 100%;
}
.movie-carousel .prev-btn,
.movie-carousel .next-btn {
  z-index: 1;
  opacity: 0.3;
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 4rem;
  height: 100%;
  color: #ECEDEB;
  background: rgba(69, 69, 69, 0.5);
}
.movie-carousel .prev-btn .icon,
.movie-carousel .next-btn .icon {
  color: #ECEDEB;
  cursor: pointer;
}
.movie-carousel .next-btn {
  right: 0;
  height: 100%;
}

.movie-card-wide {
  background: #ECEDEB;
  border-radius: 20px;
  display: grid;
  grid-template-areas: "poster title ." "poster overview overview";
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 7rem 1fr;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.movie-card-wide .title {
  justify-self: start;
  align-self: end;
  margin-left: 2rem;
  grid-area: title;
  font-size: 1.5rem;
  color: #405563;
}
.movie-card-wide .overview {
  color: #405563;
  grid-area: overview;
  opacity: 0.8;
  height: 100%;
  justify-self: start;
  padding: 2rem 2rem;
  padding-top: 0;
  align-items: start;
}
.movie-card-wide img {
  width: 100%;
  height: 100%;
  grid-area: poster;
  border-radius: 15px 0 0 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-flow: column;
  align-items: center;
}
