.darken-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: 2;
  display: grid;
  grid-template-rows: 25vh 1fr;
  grid-template-columns: min(1500px, 100vw);
  justify-content: center;
  background: #000000b2;
  overflow-y: scroll;
  overflow-x: hidden;
}