.login{
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2.5rem;

  .login-title{
    font-size: 2rem;
    color: $dark-shade;
    align-self: flex-start;
    margin-left: 0.75rem;
  }

  .input-container {
    position: relative;
    align-self: center;

    input {
      background-color: $light-shade;
      color: $dark-shade;
      margin-top: 6px;
      font-size: 1.3rem;
      padding: 0.5rem 0.5rem;
      border: none;
      border-bottom: 1px solid $dark-shade;
    }

    input:focus{
      outline: none;
    }

    .floating-label {
      color: $dark-shade;
      position: absolute;
      pointer-events: none;
      left: 10px;
      top: 15px;
      transition: 0.2s ease all;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label{
      top: -2rem;
      bottom: 10px;
      left: 10px;
      font-size: 0.8rem;
      opacity: 1;
    }

    span{
      display: flex;
      align-items: center;
    }
  }

  .register-msg{
    font-size: 0.9rem;
    color: $dark-shade;
    align-self: center;
  }

  .footer{
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    min-height: 3.7rem; 

    button{
      border: none;
      font-size: 1rem;
      width: 100%;
      padding: 0.75rem 1rem;
      background-color: $dark-shade;
      color: $light-shade;
      border-radius: 3px;
    }

    button:hover{
      cursor: pointer;
    }
  }
}
